@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-10 col-md-offset-1">
    <h3>Thông Tin Liên Hệ</h3>
    <div class="row contact-info-wrap">
        <div class="col-md-3">
            <p><span><i class="icon-location"></i></span> Phường tăng nhơn phú A <br> Quận 9,Thành Phố Hồ Chí Minh</p>
        </div>
        <div class="col-md-3">
            <p>
                <span><i class="icon-phone3"></i></span> <a href="tel:+84967882624">0967.88.26.24</a>
            </p>
        </div>
    </div>
</div>